@charset "UTF-8";
body{
	font-fimaly:
	font-wight:bold;
	overflow:auto;
	background: url(../img/indexbg.jpg) no-repeat;
	backgroud-size:100%;
	height:auto;
}
div{
	font-size:30px;
	margin-top:400px;
	 text-align:center;
	 margin-left:400px;
	 
}
input{
	font-size:25px;
	border: 1px #000000 solid;
	line-height:30px;
}
.submit{
	margin-left:100px;
}